.button {
    font-size: 12px;
    cursor: pointer;
}

.button.tiny {
    border-radius: 96px 96px 96px 96px;
    -o-border-radius: 96px 96px 96px 96px;
    -ms-border-radius: 96px 96px 96px 96px;
    -moz-border-radius: 96px 96px 96px 96px;
    -khtml-border-radius: 96px 96px 96px 96px;
    -webkit-border-radius: 96px 96px 96px 96px;
    display: inline-block;
    padding: 0px 8px 0px 8px;
    user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.button.tiny.border {
    border: 1px solid #ffffff;
}

.button.tiny.padded {
    padding: 4px 10px 4px 10px;
}

.button.tiny.padded-large {
    padding: 4px 14px 4px 14px;
}

.button.tiny.rounded {
    padding: 6px 6px 6px 6px;
}

.button.tiny.enabled {
    background-color: #50cb93;
}

.button.tiny.file {
    position: relative;
}

.button.tiny:hover {
    background-color: #50cb93;
}

.button.tiny.red:hover {
    background-color: #e63946;
}

.button.tiny:active {
    background-color: #2a9d8f;
}

.button.tiny.red:active {
    background-color: #bf2a37;
}

.button.tiny > img {
    margin-right: 6px;
    margin-top: 2px;
    vertical-align: top;
    width: 13px;
}

.button.tiny > img.medium {
    width: 20px;
}

.button.tiny > img.large {
    width: 28px;
}

.button.tiny > img.very-large {
    width: 38px;
}

.button.tiny.no-text > img {
    margin-right: 0px;
    margin-top: 0px;
}

.button.tiny.file > input[type="file"] {
    cursor: pointer;
    height: 100%;
    left: 0px;
    opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -moz-opacity: 0;
    -khtml-opacity: 0;
    -webkit-opacity: 0;
    position: absolute;
    top: 0px;
    vertical-align: top;
    width: 100%;
}

.button.tiny.file > input[type="file"]::-webkit-file-upload-button {
    cursor: pointer;
}