.help > ul {
    padding-left: 0px;
    font-size: 18px;
    line-height: 22px;
    list-style: none;
    margin: 0px 0px 0px 0px;
}

.help > ul > li {
    margin: 12px 0px 12px 0px;
}

.help > ul .key-container {
    display: inline-block;
    min-width: 86px;
    margin-right: 18px;
    text-align: right;
}

.help > ul .key {
    border: 2px solid #ffffff;
    display: inline-block;
    padding: 1px 8px 1px 8px;
    border-radius: 6px;
    font-size: 16px;
}
