@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

@import url("./debug.css");

* {
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

a {
    border-bottom: 2px dotted #ffffff;
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    border-bottom-style: solid;
}

html {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

body {
    color: #ffffff;
    font-family: "VT323", "Roboto", "Open Sans", Arial, Helvetica, sans-serif;
    margin: 0px 0px 0px 0px;
    padding: 12px 12px 52px 12px;
}

p {
    font-size: 18px;
    line-height: 24px;
    margin: 12px 0px 12px 0px;
}

.main {
    display: flex;
}

@media only screen and (max-width: 1120px) {
    .main {
        flex-direction: column;
    }
}

.main > .side-left {
    display: flex;
    flex: 1 0;
    justify-content: center;
    text-align: center;
}

.main > .side-right {
    flex: 0 1;
    max-width: 100%;
    min-width: 580px;
    padding: 0px 24px 0px 24px;
}

@media only screen and (max-width: 1120px) {
    .main > .side-right {
        min-width: unset;
        padding: 0px 0px 0px 0px;
    }
}

.main > .side-right .logo-image {
    vertical-align: middle;
    width: 32px;
}

.main > .side-right .separator {
    background: #ffffff;
    height: 2px;
    margin: 22px 0px 22px 0px;
}

.main > .side-right .diag {
    font-size: 24px;
    vertical-align: top;
}

.main > .side-right .diag > dt {
    clear: both;
    float: left;
    margin-top: 12px;
}

.main > .side-right .diag > dt:first-of-type {
    margin-top: 0px;
}

.main > .side-right .diag > dd {
    float: right;
    margin-top: 12px;
}

.main > .side-right .diag > dd:first-of-type {
    margin-top: 0px;
}

.main > .side-right .diag::after {
    clear: both;
    content: '';
    display: block;
}

.toast-container {
    background-color: black;
    height: 0px;
    left: 0px;
    padding: 0px 24px 0px 24px;
    pointer-events: none;
    position: fixed;
    text-align: center;
    top: 0px;
    width: 100%;
    z-index: 8;
}

.toast-container > .toast {
    background-color: #2a9d8f;
    border-radius: 4px 4px 4px 4px;
    -o-border-radius: 4px 4px 4px 4px;
    -ms-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -khtml-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    line-height: 22px;
    opacity: 0.0;
    -o-opacity: 0.0;
    -ms-opacity: 0.0;
    -moz-opacity: 0.0;
    -khtml-opacity: 0.0;
    -webkit-opacity: 0.0;
    padding: 12px 18px 12px 18px;
    position: relative;
    top: -46px;
    transition: top 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 0.35s cubic-bezier(0.075, 0.82, 0.165, 1);
    -o-transition: top 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 0.35s cubic-bezier(0.075, 0.82, 0.165, 1);
    -ms-transition: top 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 0.35s cubic-bezier(0.075, 0.82, 0.165, 1);
    -moz-transition: top 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 0.35s cubic-bezier(0.075, 0.82, 0.165, 1);
    -khtml-transition: top 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 0.35s cubic-bezier(0.075, 0.82, 0.165, 1);
    -webkit-transition: top 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 0.35s cubic-bezier(0.075, 0.82, 0.165, 1);
    width: fit-content;
}

.toast-container > .toast.error {
    background-color: #e63946;
}

.toast-container > .toast.visible {
    opacity: 1.0;
    -o-opacity: 1.0;
    -ms-opacity: 1.0;
    -moz-opacity: 1.0;
    -khtml-opacity: 1.0;
    -webkit-opacity: 1.0;
    pointer-events: all;
    top: 24px;
}

.button-area {
    user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.button-area > * {
    margin-bottom: 12px;
}

.magnify-button {
    cursor: pointer;
    display: inline-block;
    transition: transform 0.35s cubic-bezier(0.075, 0.82, 0.165, 1);
    -o-transition: transform 0.35s cubic-bezier(0.075, 0.82, 0.165, 1);
    -ms-transition: transform 0.35s cubic-bezier(0.075, 0.82, 0.165, 1);
    -moz-transition: transform 0.35s cubic-bezier(0.075, 0.82, 0.165, 1);
    -khtml-transition: transform 0.35s cubic-bezier(0.075, 0.82, 0.165, 1);
    -webkit-transition: transform 0.35s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.magnify-button:hover {
    transform: scale(1.3, 1.3);
    -o-transform: scale(1.3, 1.3);
    -ms-transform: scale(1.3, 1.3);
    -moz-transform: scale(1.3, 1.3);
    -khtml-transform: scale(1.3, 1.3);
    -webkit-transform: scale(1.3, 1.3);
}

.magnify-button:active {
    transform: scale(1.0, 1.0);
    -o-transform: scale(1.0, 1.0);
    -ms-transform: scale(1.0, 1.0);
    -moz-transform: scale(1.0, 1.0);
    -khtml-transform: scale(1.0, 1.0);
    -webkit-transform: scale(1.0, 1.0);
}

.overlay {
    align-items: center;
    background-color: rgba(80, 203, 147, 0.95);
    display: flex;
    font-size: 48px;
    height: 100%;
    justify-content: center;
    left: 0px;
    opacity: 0.0;
    -o-opacity: 0.0;
    -ms-opacity: 0.0;
    -moz-opacity: 0.0;
    -khtml-opacity: 0.0;
    -webkit-opacity: 0.0;
    pointer-events: none;
    position: fixed;
    text-align: center;
    top: 0px;
    transition: opacity 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    -o-transition: opacity 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    -ms-transition: opacity 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    -moz-transition: opacity 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    -khtml-transition: opacity 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    -webkit-transition: opacity 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    width: 100%;
    z-index: 10;
}

.overlay.visible {
    opacity: 1.0;
    -o-opacity: 1.0;
    -ms-opacity: 1.0;
    -moz-opacity: 1.0;
    -khtml-opacity: 1.0;
    -webkit-opacity: 1.0;
}

.overlay .overlay-image {
    margin-top: 16px;
}

.overlay .overlay-image > img {
    width: 64px;
}

.modal-container {
    align-items: center;
    background-color: rgba(20, 20, 20, 0.95);
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0px;
    opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -moz-opacity: 0;
    -khtml-opacity: 0;
    -webkit-opacity: 0;
    padding: 0px 12px 0px 12px;
    pointer-events: none;
    position: fixed;
    text-align: center;
    top: 0px;
    transition: opacity 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    -o-transition: opacity 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    -ms-transition: opacity 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    -moz-transition: opacity 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    -khtml-transition: opacity 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    -webkit-transition: opacity 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    width: 100%;
    z-index: 10;
}

.modal-container.visible {
    opacity: 1.0;
    -o-opacity: 1.0;
    -ms-opacity: 1.0;
    -moz-opacity: 1.0;
    -khtml-opacity: 1.0;
    -webkit-opacity: 1.0;
    transition: opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    -o-transition: opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    -ms-transition: opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    -moz-transition: opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    -khtml-transition: opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    -webkit-transition: opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.modal-container > .modal {
    background-color: #264653;
    border-radius: 6px 6px 6px 6px;
    -o-border-radius: 6px 6px 6px 6px;
    -ms-border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -khtml-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
    -o-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
    -ms-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
    -khtml-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
    margin-top: 30px;
    max-width: 100%;
    padding: 24px 24px 24px 24px;
    text-align: left;
    transform: scale(0.96);
    -o-transform: scale(0.96);
    -ms-transform: scale(0.96);
    -moz-transform: scale(0.96);
    -khtml-transform: scale(0.96);
    -webkit-transform: scale(0.96);
    transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1), margin-top 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    -o-transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1), margin-top 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    -ms-transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1), margin-top 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    -moz-transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1), margin-top 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    -khtml-transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1), margin-top 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    -webkit-transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1), margin-top 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    width: 480px;
}

.modal-container.visible > .modal {
    margin-top: 0px;
    pointer-events: all;
    transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -khtml-transform: scale(1);
    -webkit-transform: scale(1);
    transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), margin-top 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    -o-transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), margin-top 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    -ms-transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), margin-top 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    -moz-transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), margin-top 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    -khtml-transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), margin-top 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    -webkit-transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), margin-top 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.modal-container > .modal .modal-top-buttons {
    float: right;
    margin-right: -10px;
    margin-top: -10px;
}

.modal-container > .modal .modal-title {
    font-size: 32px;
    margin-top: 0px;
    text-align: left;
}

.modal-container > .modal .modal-text {
    font-size: 20px;
    line-height: 22px;
}

.modal-container > .modal .modal-buttons {
    font-size: 22px;
    margin-top: 24px;
    text-align: center;
    user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.modal-container > .modal .modal-buttons > .button.simple {
    display: inline-block;
    margin-right: 12px;
    min-width: 120px;
}

.modal-container > .modal .modal-buttons > .button.simple:last-child {
    margin-right: 0px;
}

.keyboard {
    font-size: 0px;
    text-align: center;
    touch-callout: none;
    -o-touch-callout: none;
    -ms-touch-callout: none;
    -moz-touch-callout: none;
    -khtml-touch-callout: none;
    -webkit-touch-callout: none;
    user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.keyboard > .keyboard-line {
    margin-bottom: 12px;
}

.keyboard > .keyboard-line:last-child {
    margin-bottom: 0px;
}

.keyboard .key {
    border: 2px solid #ffffff;
    border-radius: 5px 5px 5px 5px;
    -o-border-radius: 5px 5px 5px 5px;
    -ms-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -khtml-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    display: inline-block;
    font-size: 38px;
    height: 48px;
    line-height: 46px;
    margin-right: 14px;
    text-align: center;
    width: 48px;
}

.keyboard .key:last-child {
    margin-right: 0px;
}

.keyboard .key:hover {
    background-color: #50cb93;
}

.keyboard .key:active {
    background-color: #2a9d8f;
}
