name: Issue assignment
on:
  issues:
    types: [opened]
jobs: 
  auto-assign:
    name: Auto Assign
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - name: "Auto-assign issue"
        uses: pozil/auto-assign-issue@v1
        with:
          assignees: joamag
          numOfAssignee: 1
          allowSelfAssign: true
